.song-container {
  min-height: 60vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  
  img {
    width: 15%;
    border-radius: 50%;
  }
}
h2 {
  padding: 3rem 1rem 1rem 1rem;
}


.imgAnim  {
  animation: animimg infinite 40s linear;
}
@keyframes animimg {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}