@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #F8F8F8;
}

.App {
  min-height: 100vh;
}

h1, h2, h3 {
  color: rgb(54, 54, 54);
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  height: 40px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: lightblue;
}
@import './Songs';
@import './Player';
@import './library';
@import './Nav';

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 70%;
  }

  .song-container {
    img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 576px) {
  .song-container {
    h1 {
      font-size: 25px;
    }
  }
}


